@font-face {
  font-family: 'ClashGrotesk';
  src: url('@/assets/fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg-dark: #2C2B30;
  --color-bg-light: #FAFAFA;

  font-family: 'ClashGrotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2C2B30;
  background-color: var(--color-bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
